%a{:name =>  "percepcionClasesInstancias"}
%h2= "Clases e Instancias"
%p
  El proximo principio importante de la programacion orientada a objetos es:
%p.definicion
  Todos los objetos son instancias de una clase. El metodo invocado por un objeto en respuesta a un mensaje esta determinado por la clase del receptor. Todos los objetos de una clase dada, usan el mismo metodo en respuesta a similares mensajes.
%p
  Silvina es una instancia de una categoria o clase de persona, es decir, Silvina es una instancia de la clase floristas. El termino florista representa una clase o categoria de todos los floristas. Silvina es un objeto o instancia de la clase.
%p
  Nosotros interactuamos con instancias de una clase, pero la clase determina el  comportamiento de las instancias. Podemos decir mucho sobre el comportamiento de Silvina, entendiendo como se comportan los Floristas. Sabemos, por ejemplo, que Silvina, como todos los floristas puede preparar y mandar flores.
%p
  En el mundo real existe la distincion entre clases y objetos. Los objetos del mundo real comparten dos caracteristicas: todos tienen
  %i
    estado
  y
  %i
    comportamiento.
  Por ejemplo, los perros tienen
  %i
    estado
  (nombre, color, raza, hambre) y
  %i
    comportamiento
  (ladrar, traer la pelota, mover la cola).
%p.ejercicio.completar
  Ejercicio 1: identificar clases, enumerar estados, comportamientos.
%p.ejercicio.completar
  Ejercicio 2: identificar clases, enumerar estados, comportamientos. Crear un escenario donde dos instancias de distintas clases interactuen.
