%a{:name =>  "percepcionConceptosBasicos"}
%h2= "Conceptos Basicos"
%p
  En la Orientacion a Objetos, un sistema es visto como una comunidad de objetos que cooperan entre si mediante mensajes, para resolver dicho problema.
  Se dice que las tecnicas para resolver problemas utilizadas en la programacion orientada a objetos, modelan los problemas de manera natural, es decir, de modo similar a la forma en que las personas resuelven sus problemas cotidianos.
  Entonces consideremos la manera de resolver un problema cotidiano: supongamos que queres mandarle flores a tu amiga Pepita, que vive en otra ciudad. Para resolver esto, simplemente vas hasta la floreria mas cercana, atendida por Silvina. Le decis entonces a Silvina que tipo de flores queres, y la direccion a donde mandarlas. Con esto podes estar seguro que las flores van a llegarle a tu amiga.
  Ahora, analicemos los mecanismos que se usaron para resolver el problema:
  %ul
    %li
      Primero encontraste un 
      %strong
        agente 
      apropiado (Silvina en este caso) y le pasaste un 
      %bold
        mensaje 
      que consistio en un pedido y le pasaste un 
      %bold
        mensaje 
      que consistio en un pedido.
