%a{:name =>  "percepcionConceptosBasicos"}
%h2= "Conceptos Basicos"
%p
  En la Orientacion a Objetos, un sistema es visto como una comunidad de objetos que cooperan entre si mediante mensajes, para resolver dicho problema.
  Se dice que las tecnicas para resolver problemas utilizadas en la programacion orientada a objetos, modelan los problemas de manera natural, es decir, de modo similar a la forma en que las personas resuelven sus problemas cotidianos.
  Entonces consideremos la manera de resolver un problema cotidiano: supongamos que queres mandarle flores a tu amiga Pepita, que vive en otra ciudad. Para resolver esto, simplemente vas hasta la floreria mas cercana, atendida por Silvina. Le decis entonces a Silvina que tipo de flores queres, y la direccion a donde mandarlas. Con esto podes estar seguro que las flores van a llegarle a tu amiga.
  Ahora, analicemos los mecanismos que se usaron para resolver el problema:
  %ul
    %li
      Primero encontraste un 
      %strong
        agente 
      apropiado (Silvina en este caso) y le pasaste un 
      %strong
        mensaje 
      que consistio en un pedido y le pasaste un 
      %strong
        mensaje 
      que consistio en un pedido.
    %li
      Sera
      %strong
        responsabilidad
      de Silvina satisfacer el pedido.
    %li
      Existe algun
      %strong
        metodo
      (conjunto de operaciones) usadas por Silvina para hacer esto.
    %li
      Vos no necesitas conocer los metodos usados para satisfacer el pedido, esa informacion queda
      %strong
        escondida
      a tu vista.
  Vos no querras conocer los detalles, pero investigando podes encontrar que Silvina manda un mensaje similar al tuyo a otro florista en la ciudad donde vive tu amiga Pepita. Ese florista entonces manda otro mensaje a un subordinado, que hace el arreglo floral. Las flores, asi como otro mensaje, son entregadas al chico del delivery, y asi sucesivamente. Los floristas tambien interactuan con mayoristas, que a su vez, interactuan con la gente que cultiva las flores, y asi sucesivamente.
  Esto nos lleva al primer cuadro conceptual de la programacion orientada a objetos:
  %p.definicion
    Un programa orientado a objetos esta estructurado como una comunidad de agentes que interactuan, y que denominamos objetos. Cada objeto cumple un rol. Cada objeto provee un servicio o realiza una accion que es utilizada por los otros miembros de la comunidad.
