%head
  %link{:rel => "stylesheet", :href => './style.css', :type => "text/css"}
~= 'indice'
%h1= "Paradigmas de Programacion"
~= 'paradigmas/paradigma'
~= 'paradigmas/paradigma_objetos'
~= 'paradigmas/paradigmas'
%h1= "Percepcion de los Sistemas"
~= 'percepcion/conceptos'
~= 'encapsulation'
~= 'informacion_implementacion_escondida'
