%head
  %link{:rel => "stylesheet", :href => './style.css', :type => "text/css"}
~= 'indice'
%h1= "Paradigmas de Programacion"
~= 'paradigmas/paradigma'
~= 'paradigmas/paradigma_objetos'
~= 'paradigmas/paradigmas'
%h1= "Percepcion de los Sistemas"
~= 'percepcion/conceptos'
~= 'percepcion/mensajes_responsabilidades'
~= 'percepcion/clases_instancias'
%h1
  %a{:name => 'fundamentos'}= "Fundamentos"
~= 'fundamentos/introduccion'
~= 'fundamentos/clases'
~= 'fundamentos/objetos'
~= 'fundamentos/encapsulamiento'
~= 'informacion_implementacion_escondida'
