%a{:name =>  "informacionImplementacionEscondida"}
%h2= "Informacion / Implementacion Escondida"
%p.traducir
  You may view an encapsulated unit from the outside (the "public view") or from the inside (the "private view"). The payoff of good encapsulation is the suppression in the public view of the myriad details to be seen in the private view. This suppression takes two forms: information hiding and implementation hiding.
  The term "information hiding" implies that information within the unit cannot be perceived outside the unit. The term "implementation hiding" implies that umplementation details within the unit cannot be perceived from outside.
%p.definicion
  Informacion / implementacion escondida es el uso de encapsulamiento para restringir que cierta informacion, o la implementacion de decisiones que son internas, sean visibles desde el exterior.
%p
  Sin embargo, el termino "informacion escondida" abarca solo una parte de lo que un buen encapsulamiento puede esconder. El encapsulamiento suele revelar informacion pero esconder implementacion. Este aspecto es vital para la orientacion a objetos: las variables dentro de un objeto que almacenan la informacion provista por uno de sus atributos no tienen porque estar implementadas de igual modo que el atributo mismo, el cual se encuentra disponible a los demas objetos.
%p.traducir
  Information / implementation hiding is a powerful technique for taming software complexity. It means that an object appears as a black box to an external observer. In other words, the external observer has full knowledge of
  %i
    what 
  the object can do, but has no knowledge of 
  %i
    how 
  the object may do it or of how the object is constructed internally the object may do it or of how the object is constructed internally.
