%a{:name =>  "informacionImplementacionEscondida"}
%h2= "Informacion / Implementacion Escondida"
%p.traducir
  You may view an encapsulated unit from the outside (the "public view") or from the inside (the "private view"). The payoff of good encapsulation is the suppression in the public view of the myriad details to be seen in the private view. This suppression takes two forms: information hiding and implementation hiding.
  The term "information hiding" implies that information within the unit cannot be perceived outside the unit. The term "implementation hiding" implies that umplementation details within the unit cannot be perceived from outside.
%p.definicion.traducir
  Information / implementation hiding is the use of encapsulation to restrict from external visibility certain information or implementation decisions that are internal to the encapsulation structure.
%p.traducir
  However, the term "information hiding" addresses only part of what a good encapsulation may hide. Encapsulation often reveals information but hides implementation. This aspect is vital to object orientation: the variable inside an object that remembers the information provided by an attribute does not need to be implemented the same way as the attribute itself, which is available to other objects.
  Information / implementation hiding is a powerful technique for taming software complexity. It means that an object appears as a black box to an external observer. In other words, the external observer has full knowledge of
  %i
    what 
  the object can do, but has no knowledge of 
  %i
    how 
  the object may do it or of how the object is constructed internally the object may do it or of how the object is constructed internally.
