%a{:name =>  "fundamentosClases"}
%h2= "Clases"
%p
  En programacion orientada a objetos, sera posible tener varios objetos del mismo tipo y que compartan ciertas caracteristicas: rectangulos, registros de empleados, videoclips, etc. Una clase es la que define como seran los objetos, y se las utiliza para crearlos. Se definen en la clase, las variables y los metodos comunes a todos los objetos de cierto tipo.
