%a{:name =>  "fundamentosMensajes"}
%h2= "Mensajes"
%p
  Los objetos interactuan y se comunican entre si a traves de mensajes. Si el objeto A necesita que el objeto B realice uno de los metodos de B, este le envia un mensaje a B. En dicho mensaje se adicionaran, si fuesen necesarios, ciertos parametros para que B los utilice al ejecutar el metodo.
%p.traducir
  An object requests another objet to carry out an activity via a message. Many messages also convey some information from one object to another. Most of the gurus included messages on their lists of vital object-oriented properties.
%p.traducir
  In this section I describe the anatomy of a message, the characteristics of message arguments, the role of an object sending a message, the role of an object receiving a message, and the three types of message.
