%a{:name =>  "fundamentosMensajes"}
%h2= "Mensajes"
%p
  Los objetos interactuan y se comunican entre si a traves de mensajes. Si el objeto A necesita que el objeto B realice uno de los metodos de B, este le envia un mensaje a B. En dicho mensaje se adicionaran, si fuesen necesarios, ciertos parametros para que B los utilice al ejecutar el metodo.
