%a{:name =>  "fundamentosObjetos"}
%h2= "Objetos"
%p
  En el paradigma de objetos, creamos objetos computacionales que modelan objetos del mundo real. Su estado se contiene en una o mas
  %i
    variables.
  Una variable es un item de datos, al cual se lo nombra con un
  %i
    identificador.
  El objeto implementa su comportamiento con
  %i
    metodos.
  Un metodo es una funcion asociada con un objeto.
%p
  Un objeto tambien es conocido como la
  %i
    instancia
  de una clase. Una instancia se refiere a un objeto particular. Por ejemplo, El Mono Burgos, seria una instancia de Jugador. Las variables de un objeto son formalmente denominadas
  %i
    variables de instancia,
  esto por contener el estado de un objeto particular, o instancia.
%p
  En un programa en ejecucion, podran existir varias instancias de una clase. Podrian existir varios objetos Jugador. Cada uno de estos objetos tendra sus propias variables de instancia y cada objeto podra tener diferentes valores almacenados en sus variables de instancia. Por ejemplo, cada objeto Jugador, tendra un numero diferente almacenado en su variable Altura.
