%a{:name =>  "paradigma"}
%h2= "Que es un Paradigma de Programacion?"
%p
  La programacion Orientada a Objetos, es uno de los varios paradigmas de programacion. La palabra "paradigma" fue popularizada por el historiador Thomas Kuhn. El uso el termino para describir un grupo de teorias, estandares y metodos, que en conjunto representan una manera de organizar el conocimiento - una manera de ver el mundo.
  Dentro del ambito de la programacion, un paradigma es un conjunto de ideas, metodos y convenciones, que ayudan a guiar la realizacion de programas, encauzando la forma de pensar el modelado de un sistema, y el funcionamiento de las aplicaciones. Es tambien una manera de conceptualizar lo que significa realizar computacion, y como deberian estructurarse y organizarse las tareas que se llevaran a cabo.
