%a{:name =>  "paradigmas"}
%h2= "Paradigmas de Programacion"
%p
  Aparte de la programacion Orientada a Objetos, otros paradigmas de programacion incluyen:
  %ul
    %li
      el paradigma de programacion imperativa (ejemplificado por lenguajes como Pascal o C),
    %li
      el paradigma de programacion logica (Prolog), se dice tambien que es un lenguaje declarativo.
    %li
      y el paradigma de programacion funcional (como ejemplo existen lenguajes como ML, Haskell o Lisp), tambien declarativo.
%p.traducir
  We can distinguish between two types of programming languages: imperative languages and declarative languages. Imperative knowledge describes how-to knowledge while declarative knowledge is what-is knowledge.
  A program is "declarative" if it describes what something is like, rather than how to create it. This is a different approach from traditional imperative programming languages such as Fortran, and C, which require the programmer to specify an algorithm to be run. In short, imperative programs make the algorithm explicit and leave the goal implicit, while declarative programs make the goal explicit and leave the algorithm implicit.
  Imperative languages require you to write down step-by-step recipes (algorithms) specifying how something is to be done.
