%a{:name =>  "paradigmaObjetos"}
%h2= "El Paradigma de Programacion Orientada a Objetos"
%p
  El paradigma de programacion Orientado a Objetos
  %bold
    (OOP) 
  representa un intento por crear programas en una forma similar a la manera en que la gente piensa y se relaciona con el mundo.
  En el nucleo de la programacion orientada a objetos, encontramos entidades que tienen comportamientos, que contienen informacion, y que interactuan entre si. De acuerdo a este paradigma, programar consiste en diseniar un conjunto de objetos que modelan el problema en cuestion. Los objetos representaran entidades reales o abstractas del dominio de nuestro problema. Esto con el proposito de hacer al disenio del programa en un sentido natural y por lo tanto, en beneficio de entenderlo y realizarlo correctamente.
